.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
  left: calc(39vw);
  position: absolute;
}

#grid1 {
  top: calc(35vh);
}

#grid2 {
  top: calc(15vh);
}

#grid3 {
  top: calc(25vh);
  position: absolute;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.icons {
  display: none;
}

.icon {
  display: inline-block;
  fill: #606468;
  font-size: 16px;
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

#index {
  background-color: #2c3338;
  color: #606468;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

a {
  color: #eee;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type='submit'] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form__input{
  width: 100%;
}

#signup__firstname, #signup__lastname {
  width: 49%;
}

#signup__firstname {
  margin-right: 4px;
}

#signup__lastname {
  margin-left: 4px;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login {
  color: #eee;
}

.login label,
.login input[type='text'],
.login input[type='password'],
input[type='submit'] {
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
}

.words {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}

.login input[type='password'],
.login input[type='text'],
.select-group select {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover,
.select-group select:focus,
.select-group select:hover {
  background-color: #434a52;
}

.more {
  width: 100%;
}

input[type='submit'] {
  background-color: #ea4c88;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #d44179;
}

p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.text--center {
  text-align: center;
}

/* radio button design */
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.option {
  width: 8vw;
  text-align: center;
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

input[type=radio]:checked + label {
  color: #ccc8ce;
  background: #ea4c88;
}

.radio-group {
  border: solid 3px #363b41;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 55px;
  border-radius: 10px;
  overflow: hidden;
}

.select-group {
  margin-bottom: 10px;
  margin-left: 55px;
}

.select-group select {
  width: 75px;
  padding: 5px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  color: #9a929e;
}
.buttonLink {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

.select-group #marital {
  width: 110%;
  padding: 5px;
  margin-left: -42px;
  line-height: 1;
  border: 0;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 51px;
  font-family: 'Open Sans', sans-serif;
  color: #9a929e;
}
/* Profile Design */

#header {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 60px;
  background: #F0F0F0;
  border: 1px solid #CCC;
  margin: 0px auto;
}

#ProfileHeader {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: #434a52;
  width: 70%;
  height: 35vh;
  top: calc(10vh);
  left: calc(12vw);
  position: absolute;
}

#profileImage {
  position: absolute;
  bottom: calc(3vh);
  left: calc(3vw);
}

.profileImage {
  width: 150px;
  height: 150px;
  border: 2px solid white;
}

#profileInfo {
  color: white;
  font-weight: 550;
  font-size: 30px;
  position: absolute;
  bottom: calc(4vh);
  left: calc(17vw);
  overflow: hidden;
}

#sendRequest {
  right: calc(3vw);
  position: absolute;
  bottom: calc(1vh);
}

#AboutMe {
  position: absolute;
  top: calc(46vh);
  left: calc(12vw);
  width: 20%;
}

#Timeline {
  background-color: #FAFAFA;
  position: absolute;
  top: calc(46vh);
  left: calc(40vw);
  width: 40%;
}

#newPost {
  width: 100%;
  margin-bottom: 1px;
}

#profilePosts {
  background-color: white;
  width: 98%;
  position: relative;
  left: calc(1%);
  margin-bottom: 5px;
}

#newPost textarea::-webkit-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#newPost textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  left: calc(1%);
  top: calc(1vh);
  position: relative;
  border: none;
  resize: none;
  padding: 16px;
  padding: 1rem;
  width: 98%;
  /*height: 176px;*/
  height: 12rem;
}

#newPost textarea:focus,
#newPost textarea:active {
  outline: none !important;
}

#more input[type='submit'] {
  background-color: #3b4148;
}

#newPost input[type='submit'] {
  top: calc(20vh);
  left: calc(30vw);
  position: absolute;
  background-color: #3b4148;
  font-size: 15px;
  border-radius: 0.25rem;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-left: 24px;
  padding-left: 1.5rem;
  padding-right: 24px;
  padding-right: 1.5rem;
}

#more input[type='submit']:hover,
#more input[type='submit']:focus,
#newPost input[type='submit']:focus,
#newPost input[type='submit']:hover {
  background-color: #434a52;
}

.checkbox input[type=checkbox] {
	visibility: hidden;
}

.checkbox {
	width: 80px;
	height: 40px;
	background: #3b4148;
	margin: 5px;
	border-radius: 50px;
	position: absolute;
  left: calc(23vw);
  top: calc(20vh);
}

.checkbox:before {
	content: '';
	position: absolute;
	top: 19px;
	left: 10px;
	height: 2px;
	width: 60px;
	background: #111;
}

.checkbox label {
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 8px;
	background: #ddd;
}

.checkbox input[type=checkbox]:checked + label {
	left: 49px;
	background: #26ca28;
}

.ppInPosts {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: calc(3vw);
  top: calc(1vh);
  position: relative;
}

.poster {
  left: calc(7vw);
  top: calc(-5vh);
  position: relative;
  font-weight: 550;
  font-size: 16px;
}

.postsCaption {
  left: calc(7vw);
  top: calc(-4vh);
  position: relative;
}

.postsImage {
  left: calc(1vw);
  top: calc(2vh);
  position: relative;
  width: 50%;
  height: 35%;
}
